html{
    padding: 0;
}
body {
    background-image: linear-gradient(to right, rgb(44, 7, 131), rgb(33, 0, 63));
    display: grid;
    grid-template-columns: 2fr 5fr;
    min-height: 100VH;
    margin: 0;
}
.header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sidebar{
    height: 100%;
    color: white;
    background-image: linear-gradient(to right, rgb(12, 1, 31), rgb(25, 0, 83));
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
#task-form{
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.addtask{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
}
#add-task {
    background-color: rgb(236, 159, 16);
    color: black;
    border: 2px black solid;
    border-radius: 15px;
    width: 90px;
    height: 30px;
}
#add-task:hover {
    background-color: rgb(136, 96, 23);
}
#error-message{
    color: rgb(255, 0, 0);
    text-align: center;
}